
<mat-grid-list cols="1" rowHeight="1:1">
  <mat-grid-tile>  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Products</mat-card-title>
        <mat-card-subtitle>Buy Stuff</mat-card-subtitle>      
        
    </mat-card-header>
     <img mat-card-image src="/assets/img/splashBuy.jpg" alt=""/>
      <mat-card-content>
        
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec risus eget quam vulputate laoreet et mollis nunc. Aenean semper mauris in est varius rutrum. Aliquam erat volutpat. Vivamus consequat libero sed cursus blandit. Suspendisse dui magna, condimentum non mi a, blandit tristique nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ultrices rhoncus magna. Vivamus tincidunt consectetur euismod. Nam euismod, eros ac facilisis scelerisque, urna metus sodales sapien, eu laoreet neque ligula sed nulla. Sed ut ipsum mattis, condimentum leo id, facilisis elit. Suspendisse pellentesque consectetur molestie.</p>
     </mat-card-content>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>

    <mat-card class="example-card">
      <mat-card-header>       
        <mat-card-title>Plans</mat-card-title>
        <mat-card-subtitle>Make Stuff</mat-card-subtitle>      
            
    </mat-card-header>
    <img mat-card-image src="/assets/img/splashMake.jpg" alt=""/>
      <mat-card-content>
        
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec risus eget quam vulputate laoreet et mollis nunc. Aenean semper mauris in est varius rutrum. Aliquam erat volutpat. Vivamus consequat libero sed cursus blandit. Suspendisse dui magna, condimentum non mi a, blandit tristique nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ultrices rhoncus magna. Vivamus tincidunt consectetur euismod. Nam euismod, eros ac facilisis scelerisque, urna metus sodales sapien, eu laoreet neque ligula sed nulla. Sed ut ipsum mattis, condimentum leo id, facilisis elit. Suspendisse pellentesque consectetur molestie.</p>
       </mat-card-content>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>       
        <mat-card-title>Education</mat-card-title>
        <mat-card-subtitle>Learn Stuff</mat-card-subtitle>      
        
    </mat-card-header>
     <img mat-card-image src="/assets/img/splashEducate.jpg" alt=""/>
      <mat-card-content>
        
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec risus eget quam vulputate laoreet et mollis nunc. Aenean semper mauris in est varius rutrum. Aliquam erat volutpat. Vivamus consequat libero sed cursus blandit. Suspendisse dui magna, condimentum non mi a, blandit tristique nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ultrices rhoncus magna. Vivamus tincidunt consectetur euismod. Nam euismod, eros ac facilisis scelerisque, urna metus sodales sapien, eu laoreet neque ligula sed nulla. Sed ut ipsum mattis, condimentum leo id, facilisis elit. Suspendisse pellentesque consectetur molestie.</p>
       </mat-card-content>
    </mat-card>


  </mat-grid-tile>
  <mat-grid-tile>

    <mat-card class="example-card">
      <mat-card-header>       
        <mat-card-title>Champion</mat-card-title>
        <mat-card-subtitle>Promote Stuff</mat-card-subtitle>      
        
    </mat-card-header>
     <img mat-card-image src="/assets/img/splashPromote.jpg" alt=""/>
      <mat-card-content>
        
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec risus eget quam vulputate laoreet et mollis nunc. Aenean semper mauris in est varius rutrum. Aliquam erat volutpat. Vivamus consequat libero sed cursus blandit. Suspendisse dui magna, condimentum non mi a, blandit tristique nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ultrices rhoncus magna. Vivamus tincidunt consectetur euismod. Nam euismod, eros ac facilisis scelerisque, urna metus sodales sapien, eu laoreet neque ligula sed nulla. Sed ut ipsum mattis, condimentum leo id, facilisis elit. Suspendisse pellentesque consectetur molestie.</p>
       </mat-card-content>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>