<h2 i18n>Projects</h2>
<table mat-table [dataSource]="sampleDataService.getProducts()" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef i18n> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef i18n> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Market Column -->
    
    <ng-container matColumnDef="market" >
        <th mat-header-cell *matHeaderCellDef i18n> <span *oktaHasAnyGroup="hasMarketCapability">Market</span> </th>
        <td mat-cell  *matCellDef="">
          <button   [matMenuTriggerFor]="menu" mat-icon-button> <mat-icon>more_vert</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *oktaHasAnyGroup="{ 'OpsGroups': ['ops_influencer','ops_marcom', 'ops_staff'] }" >View Promo Script</button>
            <button mat-menu-item *oktaHasAnyGroup="{ 'OpsGroups': ['ops_marcom','ops_staff'] }"  >Promotion Analytics</button>
            <button mat-menu-item *oktaHasAnyGroup="{ 'OpsGroups': ['ops_marcom','ops_staff'] }"  >Promotion Maintenance</button>
          </mat-menu>

        </td>
        
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>