table {
    width: 100%;
  }

  .token-card {
    max-width: 900px;
  }
  
  .access-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }